<header class='main-header'>
  <div class='wrapper'>
    <div class='logo-container'>
      <i class='material-icons sidebar-toggle'>subject</i>
      <h1 class='logo'><span>Type</span>wryter</h1>
    </div>
  </div>
</header>
