<!-- Crate a new Account -->

<%= render 'header' %>
<div class='user-form'>
  <h2 class='user-title'>Create Account</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <%= f.email_field :email, autofocus: true, :class => "user-field", placeholder: 'Email' %>
    <%= f.text_field :username, autocomplete: "off", :class => "user-field", placeholder: 'Username' %>
    <%= f.password_field :password, autocomplete: "off", :class => "user-field", placeholder: 'Password' %>
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "user-field", placeholder: 'Confirm password' %>

  <div class="actions">
    <div class='submit-btn-div'><%= f.submit 'Create', :class => 'submit-btn' %></div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
