<!-- Create a new Password -->
<%= render 'header' %>
<div class="user-form">
<h2 class='user-title'>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

    <%= f.email_field :email, autofocus: true, :class => 'user-field', placeholder: 'Email' %>

  <div class="actions">
    <div class='submit-btn-div'><%= f.submit 'Email Instructions', :class => 'submit-btn' %></div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
