<!-- Login to Account -->

<%= render 'header' %>
<div class='user-form'>
  <h2 class='user-title'>Login</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <%= f.email_field :email, autofocus: true, :class => 'user-field', placeholder: 'Email' %>
  <%= f.password_field :password, autocomplete: "off", :class => 'user-field', placeholder: 'Password' %>

  <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me, :class => 'user-remember' %>
  <% end -%>

  <div class="actions">
    <div class='submit-btn-div'><%= f.submit 'Login', :class => 'submit-btn' %></div>
  </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
