<%= tinymce_assets %>
<div class='post-form-container'>
<%= form_for @post do |f| %>
  <%= f.text_field :title, :class => 'post-form-title', placeholder: 'Title', :title => 'title' %>
  <div class='tinymce-container'><%= raw(@post.body) %></div>
  <%= f.text_area :body, :class => 'tinymce-textarea' %>
  <div class='post-form-wrapper'>
  <%= f.text_field :topic, :class => 'post-form-topic', placeholder: 'Topic', :title => 'topic' %>
  <%= f.submit 'Publish', :class => 'submit-btn' %>
  <div class='post-form-privacy'><span><%= f.check_box :private %></span> Private</div>
  </div>
<% end %>
</div>
<script type="text/javascript">
  tinymce.init({
    selector: '.tinymce-container',
    inline: true,
    theme: 'inlite',
    skin: 'blue',
    toolbar: 'fontselect fontsizeselect | styleselect | removeformat | bullist numlist outdent indent | image link codesample | code preview',
    statusbar: false,
    menubar: false
  })
  $(window).keypress(function () {
    $('.tinymce-textarea').val($('.tinymce-container').html())
  })
</script>