<%= render 'application/sidebar' %>
<div class='container'>
<%= render 'application/header' %>
<div class='wrapper'>
<div class="index-menu">
  <div>
    <%= active_link_to 'All', root_path, method: :get, :wrap_tag => :div, :active => :exclusive %>
  </div>
  <div>
    <%= active_link_to 'Public', public_posts_path, method: :get, :wrap_tag => :div, :active => :exclusive %>
  </div>
  <div>
    <%= active_link_to 'Private', private_posts_path, method: :get, :wrap_tag => :div, :active => :exclusive %>
  </div>
  <div>
    <%= active_link_to 'JSON', json_posts_path(username: @username), method: :get, :wrap_tag => :div, :active => :exclusive %>
  </div>
</div>
</div>
<div class='flex-container'>
  <% @posts.each do |post| %>
  <div class='post-container'>
    <div class='post-tools'>
      <button class='post-info-toggle'>
        <span>
          <i class='material-icons info-toggle'>list</i>
        </span>
      </button>
      <%= link_to edit_post_path(post[:id]) do %>
        <button class='post-edit-toggle'>
          <span>
            <i class='material-icons'>mode_edit</i>
          </span>
        </button>
      <% end %>
      <%= link_to post_path(post[:id]), method: :delete do %>
        <button class='post-delete-toggle'>
          <span>
            <i class='material-icons'>delete</i>
          </span>
        </button>
      <% end%>
    </div>
      <article class='post'>
        <h1 class='title'>
          <%= post[:title] %>
        </h1>
        <div class='content'>
          <div class='content-body'>
            <%= post[:body].html_safe %>
          </div>
          <div class='content-post'>
            <%=
              "<strong>Length</strong>
              <br>
              #{post[:body].split(' ').length} words<br>".html_safe
            %>
            <br>
            <%=
              "<strong>Topic</strong>
              <br>
              #{post[:topic]}<br>".html_safe
            %>
            <br>
            <%=
              "<strong>Created</strong>
              <br>
              #{post[:created_at].strftime("%B %d, %Y")}<br>".html_safe
            %>
            <br>
            <%=
              "<strong>Last Updated</strong>
              <br>
              #{time_ago_in_words(post[:updated_at])} ago<br>".html_safe
            %>
            <br>
            <%=
              "<strong>Privacy</strong>
              <br>
              #{post[:private] == "0" ? "public" : "private"}<br>".html_safe
            %>
          </div>
        </div>
      </article>
  </div>
  <% end %>
</div>
</div>
