@import url("https://fonts.googleapis.com/css?family=Raleway:300,800|Roboto");
$bg: #5263FF;
$link-color: #999;
$bodyColor: #F9F9FA;
$bgComp: #37FFA4;
$bounce: cubic-bezier(.5, 0, 0, 1.5);
$bounce-lg: cubic-bezier(.5, 0, 0, 3);
$duration: 0.15s;

* { box-sizing: border-box; margin: 0; padding: 0; font-size: 16px; }

html, body {
  font-family: 'Roboto', sans-serif;
  color: #000;
  background-color: $bg;
}

@media (min-width: 960px) {
  .main-header {
    height: 60px;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    background-color: #fff;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    .logo-container {
      height: 30px;
      position: relative;
      top: 50%;
      transform: translate(0%, -50%);
      float: left;
      .sidebar-toggle {
        display: none;
      }
      .logo {
        font-family: 'Raleway', sans-serif;
        position: relative;
        margin-left: 20px;
        top: -3px;
        color: $bg;
        float: left;
        letter-spacing: 1px;
        font-size: 32px;
        font-weight: 300;
        span {
          font-weight: 800;
          font-size: 32px;
        }
      }
    }
    .header-menu {
      position: relative;
      float: right;
      top: -30px;
      right: 20px;
      list-style: none;
      font-family: 'Raleway', sans-serif;
      div {
        display: inline-block;
        margin-right: -2px;
        .active {
          padding: 21px 10px;
          background-color: $bodyColor;
          color: $bg;
          font-weight: 300;
        }
        a {
          color: $link-color;
          text-decoration: none;
          transition: all 0.5s cubic-bezier(.17,1.05,.83,.98);
          padding: 21px 15px;
          margin: 0;
          &:hover {
            background-color: $bodyColor;
            color: $bg;
          }
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .main-header {
    height: 60px;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    background-color: #fff;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    .logo-container {
      height: 30px;
      position: relative;
      top: 50%;
      transform: translate(0%, -50%);
      float: left;
      .sidebar-toggle {
        position: relative;
        font-size: 36px;
        color: $bg;
        float: left;
        top: -3px;
        left: 15px;
        cursor: pointer;
      }
      .logo {
        font-family: 'Raleway', sans-serif;
        position: absolute;
        margin-left: 65px;
        top: -3px;
        color: $bg;
        float: left;
        letter-spacing: 1px;
        font-size: 32px;
        font-weight: 300;
        span {
          font-weight: 800;
          font-size: 32px;
        }
      }
    }
    .header-menu {
      display: none;
    }
  }
}

.wrapper {
  max-width: 1120px;
  margin: 0 auto;
  position: relative;
  top: 30px;
}

.container {
  position: absolute;
  left: 0px;
  background-color: #F9F9FA;
  top: 0;
  right: 0;
  height: auto;
  min-height: 100vh;
  padding-bottom: 100px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.separator {
  position: relative;
  font-size: 18px;
  top: 0px;
  margin: 0 15px;
  color: $bg;
}

.index-menu {
  position: relative;
  margin: 20px 0px 80px 30px;
  font-family: 'Raleway', sans-serif;
  div {
    display: inline-block;
    .active {
      color: #fff;
      background-color: $bg;
    }
    a {
      color: $link-color;
      text-decoration: none;
      padding: 20px;
      background-color: #fff;
      margin-right: -5px;
      transition: all 0.5s cubic-bezier(.17,1.05,.83,.98);
      &:hover {
        background-color: $bg;
        color: #fff;
      }
    }
  }
}

.sidebar {
  width: 250px;
  position: fixed;
  background-color: $bg;
  height: 100%;
  top: 0;
  left: 0;
  .sidebar-menu {
    position: relative;
    float: left;
    list-style: none;
    text-align: right;
    width: 100%;
    top: 60px;
    font-family: 'Raleway', sans-serif;
    li {
      overflow: hidden;
      position: relative;
      a {
        overflow: hidden;
        display: block;
        line-height: 2em;
        height: 3em;
        width: 100%;
        padding-right: 40px;
        padding-top: 10px;
        text-decoration: none;
        color: #fff;
        opacity: 0.75;
        transition: all 0.5s cubic-bezier(.17,1.05,.83,.98);
        font-weight: normal;
        &:hover {
          background-color: rgba(0,0,0,0.1);
        }
      }
    }
    .active {
      text-decoration: none;
      color: #fff;
      opacity: 1;
      background-color: rgba(0,0,0,0.1);
      &:after {
        position: absolute;
        content: "\00bb";
        margin-left: 13px;
        font-size: 22px;
        top: 7px;
      }
    }
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  max-width: 1120px;
  min-width: 300px;
  margin: 40px auto;
  .post-container {
    position: relative;
    .post {
      float: right;
      position: relative;
      background-color: #fff;
      width: calc(100% - 130px);
      min-width: 140px;
      min-height: 240px;
      margin-bottom: 40px;
      right: 20px;
      padding: 40px;
    }
    .post-tools {
      float: right;
      position: relative;
      width: 80px;
      right: 20px;
      text-align: center;
      .post-author-toggle {
        user-select: none;
        position: relative;
        background-color: $bg;
        height: 60px;
        width: 60px;
        padding-top: 5px;
        font-size: 50px;
        color: rgba(255,255,255,0.6);
        border: none;
      }
      .post-delete-toggle, 
      .post-edit-toggle, .post-info-toggle {
        position: relative;
        background-color: #fff;
        height: 60px;
        width: 60px;
        color: $bg;
        transition: all 0.5s cubic-bezier(.17,1.05,.83,.98);
        border: none;
        outline: none;
        cursor: pointer;
        z-index: 1;
        &:hover {
          background-color: $bg;
          color: #fff;
          z-index: 99;
        }
        span {
          pointer-events: none;
        }
      }
    }
  }
}

.tinymce-textarea {
  display: none;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  color: #000;
  border-bottom: 1px solid $bodyColor;
  padding-bottom: 30px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-weight: 300;
}

.info {
  color: #000;
  display: none;
}

.content {
  margin-top: 30px;
  div, h1, h2, h3, h4, h5, h6, label, p, a, span {
    line-height: 32px !important;
    font-size: 16px !important;
    font-weight: 300 !important;
    font-family: sans-serif !important;
    background-color: transparent !important;
    color: #777 !important;
  }
}

.form {
  max-width: 1120px;
  position: relative;
  margin: 0px auto;
}

.post-form-container {
  margin-top: 20px;
  max-width: 1120px;
  padding: 0 20px;
}

.post-form-wrapper {
  max-width: 1120px;
  margin: 0 auto;
  position: relative;
}

.post-form-topic, .post-form-author {
  position: relative;
  box-sizing: border-box;
  height: 60px;
  width: 25%;
  outline: none;
  margin: 0px 0px 40px 0px;
  float: left;
  border: none;
  padding-left: 20px;
  margin: 10px 10px 0 0;
}

@keyframes checkmark {
  0% { transform: translate(-50%,-50%) scale(1); background-color: #fff;}
  20% { transform: translate(-50%,-50%) scale(0.9); background-color: lighter($bgComp, 50%); }
  100% { transform: translate(-50%,-50%) scale(1); background-color: $bgComp; }
}

@keyframes uncheckmark {
  0% { transform: translate(-50%,-50%) scale(1); background-color: $bgComp; }
  20% { transform: translate(-50%,-50%) scale(0.9); background-color: lighter($bgComp, 50%); }
  100% { transform: translate(-50%,-50%) scale(1); background-color: #fff; }
}

.post-form-privacy {
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
  height: 60px;
  width: 160px;
  float: right;
  border: none;
  margin: 10px 10px 0 0;
  padding: 20px 20px 20px 80px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  span {
    height: 60px;
    width: 60px;
    background-color: #5263FF;
    left: 0px;
    top: 0px;
    position: absolute;
    border-radius: 50px;
    border: 5px solid $bodyColor;
    input[type=checkbox] {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      background: $bodyColor;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      border-radius: 50px;
      outline: none;
      box-shadow: inset 0px 0px 7px 2px rgba(0,0,0,0.3);
      cursor: pointer;
      &:checked {
        background-color: $bgComp;
        animation: 0.5s checkmark;
      }
      &:not(:checked) {
        background-color: #fff;
        animation: 0.5s uncheckmark;
      }
    }
  }
}

.post-form-title {
  width: 100%;
  border: none;
  display: block;
  height: 60px;
  outline: none;
  padding-left: 20px;
  font-size: 26px;
  margin-top: 40px;
}

.tinymce {
  height: 400px;
  width: 100%;
}

.tinymce-container {
  width: 100%;
  min-height: 400px;
  background-color: #fff;
  margin: 10px 0 0 0;
  padding: 20px;
  outline: none;
  position: relative;
}

.label {
  position: relative;
  font-weight: bold;
  bottom: 2px;
  left: 2px;
}

.submit-btn {
  height: 60px;
  width: 100px;
  border: none;
  outline: none;
  background-color: #5263FF;
  color: #fff;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  position: relative;
  margin-top: 10px;
  float: right;
}

.user-link {
  color: #000;
  text-decoration: none;
  line-height: 2em;
  height: 2em;
}

.content-body {
  display: block;
}

.content-post {
  display: none;
}

.circle {
  display: block;
  position: absolute;
  background: rgba(0,0,0,0.1);
  border-radius: 50%;
  transform: scale(0);
  z-index: 3;

  &.animate{
    animation: effect 0.4s linear;
  }
}

@keyframes effect{
	100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
