$bg: #5263FF;
$link-color: #999;
$bodyColor: #F9F9FA;
$bgComp: #37FFA4;

.profile-wrapper {
  max-width: 1120px;
  margin: 0 auto;
  position: relative;
  top: 30px;
}

.profile-container {
  position: relative;
  width: 280px;
  float: left;
  height: calc(100% - 40px);
  background-color: #fff;
  margin: 0 0 20px 20px;
  padding: 20px 20px 0px 20px;
  border-top: 100px solid #5263FF;
}

.profile-info {
  text-align: left;
  line-height: 24px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-container {
  position: relative;
  top: -70px;
  margin-bottom: -40px;
}

.avatar-container {
  height: 100px;
  width: 100px;
  top: -70px;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: $bg;
  border: 5px solid #fff;
  position: relative;
}

.avatar-img {
  user-select: none;
  position: relative;
  margin: 0px auto;
  margin-bottom: 20px;
  font-size: 95px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255,255,255,0.6);
}

.chart {
  height: 100%;
  background-color: #fff;
  width: 100%;
  padding: 40px;
  margin: 0px 5px 10px 5px;
}

.chart-wrapper {
  position: relative;
  margin-top: 30px;
  left: 20px;
  float: left;
  width: calc(100% - 350px);
  min-width: 280px;
  max-width: 770px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.chart-control {
  background-color: #fff;
  color: $bg;
  height: 60px;
  padding: 0 20px;
  justify-content: space-evenly;
  border: none;
  outline: none;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  margin: 0px 5px 10px 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover, &:focus {
    background: #5263FF;
    color: #fff;
  }
}