$bg: #5263FF;
$link-color: #999;
$bodyColor: #F9F9FA;
$bgComp: #37FFA4;
$btn-color: #000;
$user-color: #999;

html, body {
  background-color: #f9f9fa;
}

.user-form {
  position: absolute;
  width: auto;
  padding: 25px 50px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  background-color: #fff;
  a {
    color: $user-color;
    text-decoration: none;
    line-height: 32px;
  }
}

.user-remember {
  color: $user-color;
}

.submit-btn-div {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin: 10px auto 30px auto;
  width: 250px;
  .submit-btn {
    position: relative;
    height: 50px;
    width: 250px;
    border: none;
    background-color: $bg;
    color: #fff;
    outline: none;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
  }
}

.user-title {
  margin-bottom: 40px;
  font-size: 32px;
  font-family: 'Raleway', sans-serif;
}

.user-field {
  display: block;
  height: 30px;
  width: 250px;
  margin: 20px auto;
  padding: 25px;
  border: none;
  background-color: #f9f9fa;
  color: #000;
  outline: none;
}
