<header class='main-header'>
  <div class='wrapper'>
    <div class='logo-container'>
      <i class='material-icons sidebar-toggle'>subject</i>
      <h1 class='logo'><span>Type</span>wryter</h1>
    </div>
    <div class='header-menu'>
      <div><%= active_link_to 'Dashboard', root_path, method: :get, :wrap_tag => :div, :active => [['posts'], ['index', 'public', 'private']] %></div>
      <div><%= active_link_to 'New Post', new_post_path, method: :get, :wrap_tag => :div, :active => [['posts'], ['new', 'edit']] %></div>
      <div><%= active_link_to 'Profile', profile_path, method: :get, :wrap_tag => :div, :active => :exclusive %></div>
      <div><%= active_link_to 'Logout', destroy_user_session_path, method: :delete, :wrap_tag => :div, :active => :exclusive %></div>
    </div>
  </div>
</header>
