<div class='sidebar'>
  <div class='sidebar-menu'>
    <li><%= active_link_to 'Dashboard', root_path, method: :get, :wrap_tag => :li, :active => :exclusive %></li>
    <li><%= active_link_to 'New Post', new_post_path, method: :get, :wrap_tag => :li, :active => :exclusive %></li>
    <li><%= active_link_to 'Logout', destroy_user_session_path, method: :delete, :wrap_tag => :li, :active => :exclusive %></li>
  </div>
</div>
