<%# <!-- data --> %>
<!-- data -->
<%= content_tag :div, class: "post-data", data: {user: @user, posts: @posts} do %>
<% end %>

<%= render 'application/sidebar' %>
<div class='container'>
  <%= render 'application/header' %>
  <div class='profile-wrapper'>
    <div class='profile-container'>
      <div class='avatar-container'>
        <i class='material-icons avatar-img'>perm_identity</i>
      </div>
      <div class="info-container">
          <p class='profile-info'>
            <br>
            <strong>Email</strong>
            <br>
            <%= @user.email %>
          </p>
          <p class='profile-info'>
            <br>
            <strong>Last Active</strong>
            <br>
            <%= time_ago_in_words(@user.last_sign_in_at) + ' ago' %>
          </p>
          <p class='profile-info'>
            <br>
            <strong>Joined</strong>
            <br>
            <%= @user.created_at.strftime("%B %d, %Y") %>
          </p>
        </div>
      </div>
    </div> <!-- profile-container -->

    <div class='chart-wrapper'>
      <button class='chart-control topics'>Topics</button>
      <button class='chart-control words'>Words</button>
      <button class='chart-control month'>Posts / Month</button>
      <button class='chart-control author'>Posts / Author</button>
      <div class='chart'>
        <canvas id="chart" width="100%" height="100%"></canvas>
      </div>
    </div>
  </div> <!-- wrapper -->
</div> <!-- container -->